

#winCountPreview td {
    padding: 5px;
}

#winCountPreview td,
#finalScorePreview td {
    font-weight: bold;
}

#winCountPreview td:nth-child(1),
#finalScorePreview td:nth-child(1) {
    width: 115px;
}

#finalScorePreview {
    display: block;
    max-height: 252px;
    overflow-y: scroll;
}
