

.analytics_session {
	display: flex;
	flex-direction: column;
	width: 90vw;
	max-width: 1000px;
	gap: var(--padding);
	padding-bottom: var(--padding);



	.analytics_session-loader {
		display: grid;
		place-content: center;
	}



	.analytics_session_charts {
		font-size: 20px;
		gap: 10px;
	
		.analytics_session_show_border {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 20px;
			gap: 10px;
			margin-bottom: 20px;
	
			.analytics_session_show_border-loader {
				width: 20px;
				height: 20px;
				border-radius: 2px;
			}
	
			input {
				width: 20px;
				min-height: 20px;
			}
		}
	}



	.analytics_session_more-statistics {
		font-size: 20px;
		gap: 10px;

		.statistic {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 500px;
		}

		.chart-container {
			margin-top: 20px;
			font-weight: 600;
		}
	}
}
