

.analytics {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	width: 90vw;
	max-width: 1000px;



	.analytics--more_statistics {
		font-size: 20px;
		gap: 10px;

		div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 500px;
		}
	}
}
