

.analytics {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	width: 90vw;
	max-width: 1000px;



	.analytics_loader {
		display: grid;
		place-content: center;
	}



	.analytics_more-statistics {
		display: flex;
		flex-direction: column;
		background-color: var(--background-color_dark_3);
		padding: var(--padding);
		border-radius: 10px;
		font-size: 20px;
		gap: 10px;

		div {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			max-width: 500px;
		}
	}
}
