

.registration_and_login {
	display: flex;
	flex-direction: row;
	place-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--bg);
	gap: 50px;
	


	.registration_and_login--logo_container {
		display: flex;
		flex-direction: column;
		gap: 5px;


		
		.registration_and_login--logo {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;
			h1 { color: var(--text--muted); }
	
			svg { 
				height: 50px;
				width: 50px;
				ellipse { fill: var(--text--muted); }
				rect { 
					stroke: var(--text--muted);
					fill: none; 
				}
			}
		}



		.registration_and_login--version {
			display: flex;
			font-size: 12px;
			margin-left: 6px;
		}
	}



	.registration_and_login--line {
		background-color: var(--text--muted);
		width: 2px;
		height: 300px;
	}



	.registration_and_login--page {
		display: flex;
		flex-direction: column;
		width: 90vw;
		min-width: 270px;
		max-width: 500px;
	
		form {
			display: flex;
			flex-direction: column;
			margin-bottom: var(--padding);
			gap: var(--padding);

			button {
				justify-content: flex-start;
				padding-left: var(--padding);
				.loader { flex-grow: 0; }
			}
		}
		
	}
}






@media ( max-width: 850px ) {
	.registration_and_login { 
		flex-direction: column-reverse; 
		gap: 70px !important;
	}
	.registration_and_login--line {
		height: 2px !important;
		width: 100% !important;
	}
	.registration_and_login--page button {
		justify-content: center !important;
		padding-left: 0 !important;
	}
}
