

# http://backend:10000 -> Your backend url 
# (only for development, production (docker) backend has to be edited in ./nginx.conf or src/api/axios.js)
# Copy this into an .env.development.local file
VITE_BACKEND_URL=





# ____________________ User ____________________

# Minimum length of account name.
VITE__USER_NAME__MIN_CHARACTER=4

# Maximum length of account name.
VITE__USER_NAME__MAX_CHARACTER=64

# Minimum length of account password.
VITE__USER_PASSWORD__MIN_CHARACTER=8

# Maximum length of account password.
VITE__USER_PASSWORD__MAX_CHARACTER=128





# ____________________ Game ____________________

# Maximum length of session name. You can name sessions / constellations of players.
VITE__MAX_LENGTH_SESSION_NAME=50

# Maximum amount of players per session/game.
VITE__MAX_PLAYERS=16

# Maximum length of player name. A "player" is a participant in a specific session, whereas a "user" is the global account holder.
VITE__MAX_LENGTH_PLAYER_NAME=50

# Every user in a session has the same amount of columns. This is the maximum amount.
VITE__MAX_COLUMNS=10

# How many finalscores the server sends to client per request.
VITE__MAX_FINALSCORES_LIMIT=7
