

.reglog {
	display: flex;
	flex-direction: row;
	place-content: center;
	align-items: center;
	height: 100vh;
	background-color: var(--bg);
	gap: 20px;
	


	.reglog-logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;

		svg {  
			height: 50px;
			width: 50px;
			rect { fill: none; }
		}
	}



	.reglog-line {
		background-color: var(--text-color);
		width: 1px;
		height: 400px;
		box-shadow: 0 0 3px 0px;
	}



	.reglog-page {
		display: flex;
		flex-direction: column;
		width: 90vw;
		min-width: 270px;
		max-width: 600px;
	
		form {
			display: flex;
			flex-direction: column;
			margin-bottom: var(--padding);
			gap: 30px;

			button {
				justify-content: flex-start;
				padding-left: var(--padding);
				.loader { flex-grow: 0; }
			}
		}
		
	}
}






@media ( max-width: 850px ) {
	.reglog { 
		flex-direction: column; 
		gap: 50px !important;
	}
	.reglog-line {
		height: 1px !important;
		width: 100% !important;
	}
	.reglog-page button {
		justify-content: center !important;
		padding-left: 0 !important;
	}
}
