

.custom_link {
	display: flex;
	gap: 5px;

	&.right {
		justify-content: flex-end;
	}

	button {
		color: var(--green);
		background: none;
		border-radius: 5px;
		border: none;
		font-size: 18px;
		text-decoration: underline;
		cursor: pointer;

		&:hover {
			color: var(--green_light_1);
		}
	}
}
