

.creategame_showsettings {
	margin-bottom: 30px;
}

.creategame_showsettings {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}





/* __________________________________________________ Successfully Saved __________________________________________________ */

.creategame_successfullysaved p {
	font-size: 25px;
	color: rgb(0, 255, 0);
	margin-bottom: 20px;
}

.creategame_successfullysaved.notvisible {
	display: none;
}





/* __________________________________________________ Select __________________________________________________ */

.creategame_select {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	font-size: 25px;
	margin-bottom: 20px;
}

.creategame_select label {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.creategame_select select {
	border-radius: 5px;
	width: 170px;
	height: 50px;
	font-size: 20px;
	color: var(--text-color);
	background-color: var(--background-color);
	outline: none;
}





/* __________________________________________________ Popup EnterNames __________________________________________________ */

.creategame_popup-enternames {
	display: grid;
	justify-content: center;
}
