

.enternames_container {
	width: 500px;
}




.enternames_list-container {
	overflow-y: auto;
	max-height: 500px;
}

.enternames_list li {
    display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.enternames_list li input[type='text'] {
	height: 45px;
	width: 450px;
	border-radius: 5px;
	border: 1px solid var(--text-color-light);
	font-size: 20px;
}

.enternames_list li input[type='color'] {
    background-color: transparent;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
	width: 40px;
}




.colorbox-computer {
    width: 45px;
	block-size: 45px;
	height: 45px;
	padding: 0px;
	border: none;
	outline: none;
}

.colorbox-computer::-webkit-color-swatch {
	border: 1px solid var(--text-color-light);
    border-radius: 5px;
}

.colorbox-mobile {
    width: 40px;
	block-size: 40px;
	padding: 0px;
	border: none;
	outline: none;
}


.colorbox-mobile::-webkit-color-swatch {
	border: 1px solid var(--text-color-light);
    border-radius: 5px;
}






