

.profile {
	display: flex;
	flex-direction: column;
	padding: var(--padding) 0;
	gap: var(--padding);
	width: 90vw;
	min-width: 270px;
	max-width: 600px;

	hr { margin: var(--padding) 0; }

	button {
		justify-content: flex-start;
	}



	h2 {
		width: 100%;
		text-align: center;
		color: var(--green);
	}



	form {
		display: flex;
		flex-direction: column;
		margin-bottom: var(--padding);
		gap: 30px;
	}
}
