

.table_player {
	display: flex;
	flex-direction: column;

	.table_player_row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: 1px solid;
		height: 55px;

		&:first-child { border-top: var(--thick-border); }
		&:last-child { border-bottom: var(--thick-border); }

		.table_player_column {
			display: grid;
			place-content: center;
			border-right: var(--thick-border);
			width: 100%;
			overflow: hidden;
			padding: 5px; 

			&:first-child {
				width: 240px;
				min-width: 240px;
				font-weight: bold;
				padding: 0;
				border-left: var(--thick-border);
			}

			span {
				font-size: 20px;
				text-wrap: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			input {
				width: 25px;
				height: 25px;
				border-radius: 5px;
			}
		}
	}
} 



.table_player_loader-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;

	.table_player_loader {
		border-radius: 5px !important;
		height: 25px !important;
		width: 25px !important;
	}
}
