

.logout {
	display: flex;
}

.logout-button {
	background: none;
	border: none;
	color: rgb(255, 0, 0);
	padding: 0;
}

.logout-button:hover {
	opacity: .5;
}

.logout-button:active {
	transform: scale(.9);
}



.input-computer {
	width: 75px;
	margin-left: 50px;
}

.input-mobile {
	width: 150px;
	margin-left: 20px;
	border-radius: 5px;
	border: 1px solid var(--text-color);
	color: var(--text-color);
}



.info {
	
	color: red;
}

.info svg {
	fill: red;
}
