

.wins {
    font-weight: bold;
}

.wins td {
    padding: 5px;
	width: 200px;
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.wins td:first-child {
	width: 120px;
}

.winner {
    font-weight: bold;
}

.ok {
	margin-top: 10px;
	width: 100%;
}
