

.enterNamesElement {
    display: flex;
    align-items: center;
	justify-content: space-between;
    height: 40px;
	margin-bottom: 5px;
	outline: none;
}





.colorbox-computer {
    width: 40px;
	block-size: 40px;
	height: 44px;
	padding: 0px;
	border: none;
	outline: none;
}

.colorbox-computer::-webkit-color-swatch {
	border: 1px solid var(--text-color-light);
    border-radius: 5px;
}

.colorbox-mobile {
    width: 40px;
	block-size: 40px;
	padding: 0px;
	border: none;
	outline: none;
}


.colorbox-mobile::-webkit-color-swatch {
	border: 1px solid var(--text-color-light);
    border-radius: 5px;
}





input[type="color"] {
    background-color: transparent;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.go {
	width: 100%;
}
