

#enterNamesList {
    justify-self: center;
}

.enterNamesElement {
    display: flex;
    align-items: center;
    height: 40px;
}





.colorbox-computer {
    width: 35px;
	block-size: 37px;
	padding: 0px;
	border: none;
	margin-left: 20px;
}

.colorbox-computer::-webkit-color-swatch {
	border: 2px solid;
    border-radius: 5px;
}

.colorbox-mobile {
    width: 31px;
	block-size: 31px;
	padding: 0px;
	border: none;
	margin-left: 20px;
}


.colorbox-mobile::-webkit-color-swatch {
	border: 1px solid;
    border-radius: 5px;
}





input[type="color"] {
    background-color: transparent;
    box-shadow: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.go {
	width: 100%;
}
