

/* __________________________________________________ Header-Bar __________________________________________________ */

.game_header-bar {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.game_header-bar select {
	width: 175px;
}

.game_header-bar svg {
	width: 25px;
}

.game_header-bar .button {
	padding: 0;
	margin: 0;
	background: none;
	box-shadow: none;
	color: var(--text-color);
}





/* __________________________________________________ Header-Bar __________________________________________________ */

.game_footer-bar {
	display: flex;
	justify-content: space-between;
}

.game_footer-bar .button:not(.button-thick) {
	background: none;
	box-shadow: none;
	color: var(--text-color);
}





/* __________________________________________________ Table-Player __________________________________________________ */

.table_player td {
	padding: 5px;
}

.table_player td:first-child {
    width: 242px;
	min-width: 242px;
    font-weight: bold;
	padding: 0;
}

.table_player .checkbox-container {
	display: grid;
	place-content: center;
}

.table_player .checkbox {
    width: 25px;
	height: 25px;
	border-radius: 5px;
}





/* __________________________________________________ Table __________________________________________________ */

/* ____________________ First two rows ____________________ */

#upperTable td:nth-child(1),
#upperTable td:nth-child(2),
#bottomTable td:nth-child(1),
#bottomTable td:nth-child(2) {
    min-width: 120px;
	width: 120px;
	max-width: 120px;
    font-weight: bold;
	padding: 0;
}

.kniffelImage {
    width: 26px;
    margin: 2px;
}

.highlighted label {
    color: rgb(0, 200, 0);
}

.highlighted svg {
    stroke: rgb(0, 200, 0);
	fill: rgb(0, 200, 0);
}



/* ____________________ Other rows ____________________ */

.kniffelInput {
    border: none;
    height: 100%;
    width: 50px;
    outline: none;
    text-align: center;
    font-size: 20px;
	color: var(--text-color-static);
}

.kniffelInput::-webkit-calendar-picker-indicator {
	display: none !important;
}

.select {
	width: 60px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}










/* __________________________________________________ Popup Surrender __________________________________________________ */

.game_popup_surrender_askifsurrender {
	margin-top: 20px;
}

.game_popup_surrender_askifsurrender div {
	display: flex;
	gap: 10px;
}

.game_popup_surrender_list {
	margin-top: 20px;
	list-style-type: none;
}

.game_popup_surrender_list li {
	padding: 20px 0;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px -3px gray;
	margin-bottom: 15px;
}





/* __________________________________________________ Popup Edit __________________________________________________ */

.game_popup_edit_container {
	display: flex;
	font-weight: bold; 
	margin-bottom: 10px; 
	font-size: 20px;
	padding-left: 60px;
}





/* __________________________________________________ Popup InvalidNumber __________________________________________________ */

.game_popup_invalidNumber {
	text-wrap: wrap;
	word-wrap: break-word;
}