


.playerTable td {
	padding: 5px;
}

.playerTable td:first-child {
    width: 242px;
	min-width: 242px;
    font-weight: bold;
	padding: 0;
}

.checkbox {
    width: 25px;
	height: 25px;
	border-radius: 5px;
}






#upperTable td:nth-child(1),
#upperTable td:nth-child(2),
#bottomTable td:nth-child(1),
#bottomTable td:nth-child(2) {
    min-width: 120px;
	width: 120px;
	max-width: 120px;
    font-weight: bold;
	padding: 0;
}

.kniffelImage {
    width: 26px;
    margin: 2px;
}





.kniffelInput {
    border: none;
    height: 100%;
    width: 50px;
    outline: none;
    text-align: center;
    font-size: 20px;
	color: var(--text-color-static);
}

.kniffelInput::-webkit-calendar-picker-indicator {
	display: none !important;
}

.select {
	width: 60px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}





.highlighted label {
    color: rgb(0, 200, 0);
}

.highlighted svg {
    stroke: rgb(0, 200, 0);
	fill: rgb(0, 200, 0);
}



.newGame:hover {
	background-color: lightgray;
}

.newGame:active {
	background-color: lightgray;
}














/* __________________________________________________  Modal Surrender __________________________________________________ */

.game_modal-surrender-askifsurrender {
	margin-top: 20px;
}

.game_modal-surrender-askifsurrender div {
	display: flex;
	gap: 10px;
}

.game_modal-surrender-list {
	margin-top: 20px;
	list-style-type: none;
}

.game_modal-surrender-list li {
	padding: 20px 0;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px -3px gray;
	margin-bottom: 15px;
}
