

.input-header {
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: left;
	width: 100%;
	font-size: 18px;
}

.login {
	width: 100%;
}

.needAccount {
	color: rgb(100, 100, 100);
	text-align: end;
}

.needAccount a {
	color: rgb(0, 255, 0, .7);
}

.needAccount a:hover {
	color: rgb(0, 255, 0, .5);
}

.needAccount a:active {
	color: rgb(0, 255, 0, .3);
}
