 

.sessionList {
	border-radius: 5px;
	padding: 5px;
}

.listElement {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.listElement:hover {
    background-color: var(--list-element-hover-color);
}

.container {
    margin-right: 10px;
    margin-left: 10px;
	height: 45px;
    display: flex;
    justify-content: space-between;
	width: 100%;
}

.date {
	margin-left: 30px;
}

.label {
	height: 100%;
	padding-top: 11px;
	font-size: 23px;
	width: max-content;
}

.checkbox-delete {
	width: 30px;
	margin-left: 10px;
}




.trashcan-container {
	width: 100%;
	display: flex;
	align-items: center;
	opacity: 1;
}

.trashcan-container .disabled {
	opacity: 0.2;
	pointer-events: none;
}

.trashcan-container svg:not(.disabled):hover {
	height: 30px;
}

.trashcan-container svg {
	height: 30px;
}



.notVisible {
	opacity: 0;
}
