

.loader {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}
  
.loader span {
	width: 8px;
	height: 8px;
	background: #00FF00;
	border-radius: 50%;
	margin: 0 5px;
	animation: expandShrink 2s linear infinite;
	animation-delay: 0.1s;
}
  
.loader span:nth-child(1) {animation-delay: 0s;}
.loader span:nth-child(2) {animation-delay: 0.333s;}
.loader span:nth-child(3) {animation-delay: 0.667s;}

@keyframes expandShrink {
	0%, 100% {transform: scale(1.5);}
	25%, 75% {transform: scale(0.5);}
}
  


  

.sessionList {
	border-radius: 5px;
	padding: 5px;
}

.listElement {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.listElement:hover {
    background-color: rgb(230, 230, 230);
}

.container {
    margin-right: 10px;
    margin-left: 10px;
	height: 30px;
    display: flex;
    justify-content: space-between;
	width: 100%;
}

.date {
	margin-left: 30px;
}

.label {
	height: 100%;
	padding-top: 5px;
	font-size: 18px;
}

.checkbox-delete {
	width: 20px;
	margin-left: 10px;
}





.message {
    font-size: 25px;
}




.trashcan-container {
	width: 100%;
	display: flex;
	align-items: center;
	opacity: 1;
}

.trashcan-container .disabled {
	opacity: 0.2;
	pointer-events: none;
}

.trashcan-container svg:not(.disabled):hover {
	height: 25px;
}

.trashcan-container svg:not(.disabled):hover rect {
	stroke: rgb(95, 95, 95);

}

.trashcan-container svg {
	height: 25px;
}



.notVisible {
	opacity: 0;
}
