




.sessionpreview_select-container {
	display: flex;
	justify-content: space-between;
	overflow-y: auto;
	scrollbar-gutter: stable both-edges;
	margin-bottom: 20px;
}






.sessionpreview_table-container {
	max-height: 305px; 
	overflow-y: auto;
	overflow-x: hidden;
	scrollbar-gutter: stable both-edges;
}

.sessionpreview_player-table {
	margin-bottom: 10px;
}

.sessionpreview_player-table td {
	background-color: rgb(0, 230, 0, .2);
}















.sessionpreview_table td {
	border: none;
}

.sessionpreview_table td {
	border-right: 1px solid;
}

.sessionpreview_table td:first-child {
	border-left: 1px solid;
}



.sessionpreview_table tr:not(:first-child) {
	border-radius: 0;
	border-top: 1px solid;
}

.sessionpreview_table tr:last-child {
	border-bottom: 1px solid;
}



.sessionpreview_table .date-row td {
	border: none;
	height: 40px;
}

.sessionpreview_table .date {
	margin: 0;
	padding-left: 10px;
	display: flex;
	font-weight: bold;
	text-align: left;
	width: 100%;
}
