

.game-container {
	position: absolute;
	top: 0;
	left: 0;

	.game {
		display: flex;
		position: relative;
		flex-direction: column;
		gap: var(--padding);
		margin: 1500px;
		flex: 1;
	
		footer {
			display: flex;
			justify-content: space-between;
			gap: 5px;
	
			.options {
				width: fit-content;
				padding: 0 5px;
				svg { 
					height: 30px;
				}
			}
		}
	}
}





/* __________________________________________________ Popup Surrender __________________________________________________ */

.game_popup-surrender {

	.askifsurrender {
		display: flex;
		flex-direction: column;
		gap: 10px;

		h2 {
			margin-bottom: 10px; 
			text-align: center;
		}
	}

	.list-container {
		max-height: 500px;
		overflow-y: auto;
		overflow-x: hidden;

		ul {
			display: flex;
			flex-direction: column;
			list-style-type: none;
			padding: 5px 10px;
			gap: 10px;

			li {
				font-size: 20px;
				cursor: pointer;
				border-radius: 10px;
				padding: var(--padding);
			}
		}
	}

}
