

.game_container {
	position: absolute;
	
	.game {
		display: flex;
		flex-direction: column;
		gap: var(--padding);
		margin: 1500px 1500px 1500px 1500px;
	
	
	
		footer {
			display: flex;
			justify-content: space-between;
			gap: 5px;
	
			.options {
				width: fit-content;
				padding: 0 5px;
				svg { height: 40px; }
			}
		}
	}
}





/* __________________________________________________ Popup Surrender __________________________________________________ */

.game_popup-surrender {

	.askifsurrender h2 {
		margin-bottom: 20px; 
		text-align: center;
	}

	.list-container {
		max-height: 500px;
		overflow-y: auto;
		overflow-x: hidden;

		ul {
			display: flex;
			flex-direction: column;
			gap: 10px;
			list-style-type: none;
			padding: 5px 10px;

			li {
				font-size: 20px;
				border-radius: 10px;
				padding: var(--padding);
				background-color: var(--bg_2);
			}
		}
	}

}
