

.game_container {
	position: absolute;
	
	.game {
		display: flex;
		flex-direction: column;
		gap: var(--padding);
		margin: 1500px 1500px 1500px 1500px;
	
	
	
		footer {
			display: flex;
			justify-content: space-between;
	
			.options {
				width: fit-content;
				padding: 0 5px;
				svg { height: 40px; }
			}
		}
	}
}





/* __________________________________________________ Popup Surrender __________________________________________________ */

.game_popup-surrender {

	.askifsurrender h2 {
		margin-bottom: 20px; 
		text-align: center;
	}

	.list-container {
		max-height: 500px;
		overflow-y: auto;
		overflow-x: hidden;

		ul {
			list-style-type: none;
			padding: 5px 10px;

			li {
				padding: 30px 0;
				font-size: 20px;
				padding-left: 10px;
				
				&:not(:last-child) { border-bottom: 1px dashed; }
			}
		}
	}

}





/* __________________________________________________ Popup Edit __________________________________________________ */

.game_popup-edit {
	display: flex;
	flex-direction: column;
	gap: var(--padding);

	.show-sum {
		display: flex;
		justify-content: space-between;
		font-weight: bold; 
		font-size: 20px;
		padding: 0 60px;
	}

	.list-container {
		max-height: 500px;
		overflow-y: auto;
	}
}
