

.dnd-list {
	list-style-type: none;

	.element {
		display: flex;
		gap: 10px;
		left: auto !important; 
		top: auto !important;
		margin: 10px 0;

		div {
			display: flex;
			flex-direction: column;
			place-content: center;
			width: min-content;
			padding: 0 5px;

			svg { height: 10px; }
		}

		input[type='text'] {
			width: 100%;
		}

		input[type='color'] {
			padding: 0;
			border: none;
			min-width: 40px;
		
			&::-webkit-color-swatch {
				border: 1px solid;
				border-radius: 5px;
			}
		}
	}
}
