

.fancyinput {
	position: relative;
	display: flex;
	height: 60px;

	input {
		width: 100%;
		height: 60px;
		font-size: 20px;
		color: var(--text-color);
		padding: 15px 20px;
		background: transparent;
		border: 1px solid var(--text-color-light);
		outline: none;
		border-radius: 5px;
	}

	label {
		position: absolute;
		top: 50%;
		margin-left: 15px;
		transform: translateY(-50%);
		font-size: 16px;
		pointer-events: none;
		padding: 0 5px;
		transition: font-size .5s, top .5s;
	}

	input:focus~label, 
	input:not(:placeholder-shown)~label {
		top: 0;
		font-size: 12px;
		background-color: var(--background-color);
	}

	&.fancyinput_green {
		label { color: var(--green_dark_0); }
		input { border-color: var(--green_dark_0); }
	}

	&.fancyinput_red {
		label { color: var(--red); }
		input { border-color: var(--red); }
	}
}

body.dark { .fancyinput {
	input:focus~label, 
	input:not(:placeholder-shown)~label {
		background-color: var(--background-color_dark_2);
	}
} }
