

.popup_background {
	position: absolute;
	display: none;
	place-content: center;
	height: 100%;
	width: 100%;
	background-color: var(--popup-background-color);
	z-index: 10000;
	overflow: hidden;

	&.show {
		display: grid;
	}

	h1 {
		font-size: 45px;
		margin-bottom: var(--padding);
	}

	.popup {	
		background-color: var(--background-color);
		box-shadow: 0 0 20px 0 var(--box-shadow-color);
		transition: all .5s ease;
		padding: 50px;
		border-radius: 5px;
	
		&.show {
			bottom: 0;
		}
	
		.close-container {
			margin-bottom: var(--padding);
			svg { height: 40px; }
		}
	
		.popup-grid {
			display: grid;
			place-content: center;
		
			.popup-container {
				display: flex;
				flex-direction: column;
				width: 90vw;
				max-width: 500px;
			}
		}
	}
}





@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}





@media ( max-width: 425px ) {
	
	.popup_background {

		h1 {
			font-size: 30px;
		}

		.popup {
			border-radius: 0px;
		}
	}
}
