

.toggleslider {
	position: relative;
	display: inherit-block;
	width: 60px;
	height: 34px;
	outline: none;



	input:checked + span::before { transform: translateX(26px); }
	input:checked + span { background-color: var(--green); }


	
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	span {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 20px;
		transition: .5s;
		background-color: var(--toggle-button-background-color);

		&::before {
			position: absolute;
			content: '';
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: var(--toggle-button-color);
			border-radius: 50%;
			transition: .5s;
		}
	}
}
