

.session__players {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	width: 90vw;
	max-width: 600px;
	min-width: 300px;

	.session__players--previous_container {
		display: flex;
		flex-direction: row;
		gap: 10px;

		.session__players--previous svg { width: 30px; }
	}

	.session__players--list {
		display: flex;
		width: 100%;
		max-height: 300px !important;
		overflow-y: auto;
	}
}
