

.session_addandedit {
	display: flex;
	flex-direction: column;
	gap: var(--padding);
	width: 80vw;
	max-width: 600px;
	min-width: 300px;

	.session_addandedit_element {
		display: flex;
		justify-content: space-between;
		font-size: 25px;
	
		label {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	
		select, input, div {
			border-radius: 5px;
			width: 180px;
			height: 50px;
			font-size: 20px;
			color: var(--text);
		}

		input[type='color'] {
			padding: 0;
			border: none;
			min-width: 40px;
			&:focus { outline: auto; }
		
			&::-webkit-color-swatch {
				border: 1px solid;
				border-radius: 5px;
			}
		}
	}

	.session_addandedit_preview {
		padding: 10px;
		border: 1px solid;
		border-radius: 10px;
		flex-direction: column;

		label { font-size: 18px; }

		div {
			display: grid;
			place-content: center;
			width: 100%;
			overflow: hidden;
			font-size: 15px;
		}
	}
}





@media ( max-width: 425px ) {

	.session_addandedit {
		width: 90vw;
	}

}
