

.accordion {
	overflow: hidden;

	&.selected {
		.accordion_header svg { transform: rotate(180deg); }

		.body {
			max-height: 5000px;
			transition: all 1s ease-in;
		}
	}

	.accordion_header {
		display: flex;
		text-align: center;
		font-size: 25px;
		margin: 20px 0;
		cursor: pointer;

		button {
			border: none;
			background: none;
			cursor: pointer;
			
			svg {
				width: 35px;
				transition: transform .2s;
			}
		}
	}

	.body {
		transition: all .35s ease-out;
		max-height: 0;

		&::-webkit-scrollbar{ width: 0px; }
	}
}
