

.dnd-list {
	list-style-type: none;
	width: 100%;

	.element {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		left: auto !important; 
		top: auto !important;
		margin: 10px 0;

		svg { height: 30px; }

		input[type='text'] {
			width: 100%;

			&.invalid {
				border-color: var(--red) !important;
				border-width: 2px !important;
			}
		}

		input[type='color'] {
			padding: 0;
			border: none;
			min-width: 40px;
			width: min-content;
		
			&:focus { outline: auto; }

			&::-webkit-color-swatch {
				border: 1px solid;
				border-radius: 5px;
			}
		}
	}
}
