

.input_with_svg--container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--text--muted);
	padding-bottom: 1px;

	&.valid path { fill: var(--green); }
	&.invalid path { fill: var(--red); }

	&:focus-within { 
		border-bottom: 2px solid var(--text); 
		padding-bottom: 0;
	}

	svg {
		width: 30px;
		height: 30px;
		path { fill: var(--text--muted); }
	}

	input {
		border: none;
		padding: 10px;
		min-height: fit-content;
		outline: none;
		&:focus { border: none !important; }
	}
}
