

.input_fancy {
	position: relative;
	display: flex;
	height: 60px;



	input {
		width: 100%;
		height: 60px;
		font-size: 20px;
		color: var(--text);
		padding: 15px 20px;
		background: transparent;
		border: 1px solid var(--text--muted);
		outline: none;
		border-radius: 5px;
		transition: border-width .2s linear;
	}



	label {
		position: absolute;
		top: 50%;
		margin-left: 15px;
		transform: translateY(-50%);
		font-size: 16px;
		pointer-events: none;
		padding: 0 5px;
		transition: font-size .5s, top .5s;
	}



	input:focus~label, 
	input:not(:placeholder-shown)~label {
		background-color: var(--bg);
		font-size: 12px;
		top: 0;
	}



	&.input_fancy_green input { border-right: 7px solid var(--green-button) !important; }
	&.input_fancy_red input { border-right: 7px solid var(--red) !important; }
}
