

.optionsdialog_icon {
	position: fixed;
	top: 5px;
	left: 5px;
	height: 30px;
}



.optionsdialog_container {
	display: flex;
	flex-direction: column;
}

.optionsdialog_container .logout {
	width: 100px; 
	box-shadow: none;
	background: none; 
	color: var(--red);
	margin: 0; 
	padding: 0;
}






.optionsdialog_joincode {
	display: flex;
	margin-top: 10px;
}

.optionsdialog_joincode label {
	font-size: 20px;
	padding-top: 5px;
}
