

.button-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

#root {
	height: 100%;
	width: 100%;
	display: grid;
	place-items: center;
}

:root {
	--text-color: rgb(100, 100, 100);
	--text-color-light: rgb(150, 150, 150);
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	overflow-x: auto;
	background-color: rgb(240, 240, 240);
	
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	fill: var(--text-color);
	stroke: var(--text-color);
	border-color: var(--text-color);
	color: var(--text-color);
}

dialog {color: var(--text-color);}
h1 {color: var(--text-color);}
p {color: var(--text-color);}
span {color: var(--text-color);}
label {color: var(--text-color);}

svg {
	stroke: var(--text-color);
	fill: var(--text-color);
}





.App {
	text-align: center;
	background-color: white;
	padding: 25px;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 0px rgb(200, 200, 200);
	margin: 20px;

	align-self: center;
}

.modal {
	border-radius: 10px;
	border: none;
	padding: 20px;
	outline: none;
}

dialog::backdrop {
	background-color: rgb(150, 150, 150);
	opacity: .5;
}





/* ____________________Button____________________ */

.button {
	font-size: 20px;
	border-radius: 10px;
	border: none;
	box-shadow: 0px 0px 4px 0px rgb(200, 200, 200);
	padding: 5px 15px;
	background-color: rgb(0, 255, 0);
	color: var(--text-color);
	outline: none;
	margin-top: 20px;
	margin-bottom: 20px;
	transition: all .25s ease;
}

.button:hover {
	transform: scale(1.02);
    background-color: rgb(0, 245, 0);
}

.button:active {
    transform: scale(0.98);
}


.button-responsive:hover {
	transform: scale(1.08);
}

.button-responsive:active {
	transform: scale(0.92);
}


.reglog-link-switch {text-align: end;}
.reglog-link-switch a {color: rgb(0, 255, 0);}
.reglog-link-switch a:hover {opacity: .6;}

.link-switch a {color: rgb(0, 255, 0);}
.link-switch a:hover {opacity: .6;}





/* ____________________Input____________________ */

input {
	border-color: var(--text-color);
    background-color: rgb(240, 240, 240);
	color: var(--text-color);
    border-radius: 5px;
    padding: 5px;
	width: 400px;
	outline: none;
}

.input-header {
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: left;
	font-size: 18px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

.input-container label {
    margin-top: 7px;
    margin-right: 15px;
}





/* ____________________Table____________________ */

.table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 5px;
}

.table td {
    border: 1px solid;
    text-align: center;
    height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}





/* ____________________Table____________________ */

.loader {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}
  
.loader span {
	width: 8px;
	height: 8px;
	background: #00FF00;
	border-radius: 50%;
	margin: 0 5px;
	animation: expandShrink 2s linear infinite;
	animation-delay: 0.1s;
}
  
.loader span:nth-child(1) {animation-delay: 0s;}
.loader span:nth-child(2) {animation-delay: 0.333s;}
.loader span:nth-child(3) {animation-delay: 0.667s;}

@keyframes expandShrink {
	0%, 100% {transform: scale(1.5);}
	25%, 75% {transform: scale(0.5);}
}





@media (max-width: 390px) {

	input {
		width: 300px;
	}

	body {
		justify-content: left;
	}

	.App {
		margin: 200px;
		margin-top: 200px;
	}

}
