

* {	
    margin: 0;
    padding: 0;

	fill: var(--text);
	stroke: var(--text);
	color: var(--text);
    border-color: var(--text);
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;

	--padding: 20px;
	--thick-border: 2px solid;


	// __________________________________________________ Variables __________________________________________________

	// ____________________ Background ____________________

	--bg: rgb(255, 255, 255);
	--bg--dark: rgb(225, 225, 225);

	--popup-background-color: rgb(200, 200, 200, .5);
	
	background-color: var(--bg);


	// ____________________ Text ____________________

	--text: rgb(100, 100, 100);
	--text--muted: rgb(150, 150, 150);
	--text--static: rgb(100, 100, 100);


	// ____________________ Green ____________________

	--green: rgb(0, 150, 0);
	--green-button: rgb(0, 200, 0);
	--green-button_border: rgb(0, 180, 0);
	--green-button_border_focus: rgb(0, 100, 0);


	// ____________________ Red ____________________

	--red: rgb(255, 0, 0);
}

.dark {

	// __________________________________________________ Variables __________________________________________________
	
	// ____________________ Background ____________________

	--bg: rgb(0, 0, 0);
	--bg--dark: rgb(40, 40, 40);

	--popup-background-color: rgb(50, 50, 50, .5);

	background-color: var(--bg);


	// ____________________ Text ____________________

	--text: rgb(190, 190, 190);
	--text--muted: rgb(160, 160, 160);


	// ____________________ Green ____________________

	--green: rgb(0, 150, 0);
	--green-button: rgb(0, 150, 0);
	--green-button_border: rgb(0, 190, 0);
	--green-button_border_focus: rgb(0, 245, 0);


	// ____________________ Red ____________________

	--red: rgb(255, 100, 100);
}





// Scrollbar Styling
::-webkit-scrollbar { 
	width: 12px;
}

::-webkit-scrollbar-track {
	background: var(--bg);
}

::-webkit-scrollbar-thumb {
	background-color: var(--text);
	border: 2px solid var(--bg);
	border-radius: 10px;
	width: 10px;
	margin: 2px;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

a {
	text-decoration: none;
}

.box {
	display: flex;
	flex-direction: column;
	background-color: var(--bg);
	border: 2px solid var(--bg--dark);
	padding: var(--padding);
	border-radius: 10px;

	input, textarea {
		border: none;
		background: none;
	}
}

.box-input {
	outline: none;
	border-radius: 10px;
	background-color: var(--bg);
	border: 2px solid var(--bg--dark);

	&:focus {
		border: 2px solid var(--text-muted) !important;
	}
}





/* __________________________________________________ Input __________________________________________________ */

input, 
select, 
textarea {
	outline: none;
	border: 1px solid;
	padding: 10px 15px;
	background-color: var(--bg);
	text-overflow: ellipsis;
	border-radius: 5px;
	overflow: hidden;
	min-height: 60px;
	font-size: 20px;
	resize: none;
	width: 100%;
	
	transition: border-radius 1s ease;

	&:focus { border-color: var(--bg--dark) !important; }
}

input:focus { border-bottom: 1px solid var(--text) !important; }

input[type=checkbox] {
	cursor: pointer;
	&:focus { outline: auto; }
}

.input-transparent {
	border: 1px solid transparent !important;
	&:focus {
		background: none !important;
	}
}

.input-underlined {
	padding: 5px;
	min-height: auto;
	border-radius: 0;
	border-bottom: 1px solid var(--text) !important;
	&:focus { border-color: var(--bg--dark) !important; }
}





/* __________________________________________________ Button __________________________________________________ */

.button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px -2px var(--text--muted);
	background-color: var(--green-button);
	color: var(--bg);
	width: 100%;
	height: 60px;
	cursor: pointer;
	outline: none;
	border: 2px solid var(--green-button_border);

	svg path { 
		fill: var(--bg); 
		stroke: var(--bg);
	}
	&:focus { border: 2px solid var(--green-button_border_focus); }
}

.button_reverse {
	border: none;
	background: none;
	box-shadow: none;
	color: var(--text);
	border: 2px solid transparent;
	svg path {
		fill: var(--text);
		stroke: var(--text);
	}
	&:focus { border: 2px solid var(--text); }
}

.button_reverse_green {
	border: none;
	background: none;
	box-shadow: none;
	color: var(--green-button);
	border: 2px solid transparent;
	svg path {
		fill: var(--green-button);
		stroke: var(--green-button);
	}
	&:focus { border: 2px solid var(--green-button); }
}

.button_reverse_red {
	border: none;
	background: none;
	box-shadow: none;
	color: var(--red);
	border: 2px solid transparent;
	svg path {
		fill: var(--red);
		stroke: var(--red);
	}
	&:focus { border: 2px solid var(--red); }
}




// ____________________ Button Scale ____________________

.button_scale_0 {
	transition: transform .25s ease;
	&:hover { transform: scale(1.01);}
	&:active { transform: scale(0.99); }
}

.button_scale_1 {
	transition: transform .25s ease;
	&:hover { transform: scale(1.02);}
	&:active { transform: scale(0.98); }
}

.button_scale_2 {
	transition: transform .25s ease;
	&:hover { transform: scale(1.05);}
	&:active { transform: scale(0.95); }
}

.button_scale_3 {
	transition: transform .25s ease;
	&:hover { transform: scale(1.1);}
	&:active { transform: scale(0.9); }
}

.button_scale_4 {
	transition: transform .25s ease;
	&:hover { transform: scale(1.2);}
	&:active { transform: scale(0.8); }
}



.w-fit-content { width: fit-content; }
.h-fit-content { height: fit-content; }










/* ____________________Table____________________ */

.table {
    table-layout: fixed;
    border-collapse: collapse;

	td, 
	th {
		flex: 1;
		border: 1px solid;
		text-align: center;
		height: 50px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
