

.popup__options--icon {
	position: fixed;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	z-index: 100;

	svg { height: 30px; }
}



.popup__options {
	display: flex;
	flex-direction: column;

	.box { gap: var(--padding); }


	hr { 
		border: 1px dashed;
	}


	
	section {
		display: flex;
		padding: 15px 10px;
		height: 70px;
		align-items: center;
		font-size: 20px;

		&.darkmode {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			height: fit-content;
			gap: 10px;

			span { font-size: 12px; }

			div {
				display: flex;
				flex-direction: row;
				gap: 10px;

				input { 
					width: 25px; 
					min-height: 25px;
				}
	
				.popup__options_loading_darkmode-container {
					display: grid;
					place-content: center;
				
					.popup__options_loading_darkmode {
						border-radius: 2px;
						width: 25px;
						height: 25px;
					}
				}
			}
		}

		.popup__options--profile {
			justify-content: flex-start;
			padding: 0 var(--padding);
		}
	}
}
