

.popup_editplayers {
	display: flex;
	flex-direction: column;
	gap: var(--padding);



	.popup_editplayers_select {
		display: flex;
		flex-direction: column;
		border-bottom: 1px dashed;
		padding-bottom: 25px;

		.popup_editplayers_select-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			span {
				font-size: 20px;
			}
		}

		.custom_date {
			button {
				width: min-content;
				color: var(--text-color);
			}
		}

		.view select { width: 100%; }
		.year select, .month select { 
			border: none; 
			text-align: end;
			min-height: 50px;
			margin-bottom: 10px;
		}
	}



	.popup_editplayers_select-loader {
		height: 60px;
	}
}
