

.popup_options-icon {
	position: fixed;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 30px;
	z-index: 100;

	svg { height: 30px; }
}



.popup_options {
	display: flex;
	flex-direction: column;
	gap: var(--padding);


	
	section {
		display: flex;
		padding: 15px 10px;
		height: 70px;
		align-items: center;
		font-size: 20px;
		
		&:not(:last-of-type) { border-bottom: 1px dashed; }



		&.darkmode {
			display: flex;
			flex-direction: row;
			gap: 10px;
			input { 
				width: 25px; 
				min-height: 25px;
			}

			.popup_options_loading_darkmode-container {
				display: grid;
				place-content: center;
			
				.popup_options_loading_darkmode {
					border-radius: 2px;
					width: 25px;
					height: 25px;
				}
			}
		}
	}
}
