

.popup_edit_preview {
	display: flex;
	flex-direction: column;
	gap: var(--padding);



	.popup_edit_preview_select {
		display: flex;
		flex-direction: column;

		.popup_edit_preview_select-container {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			span {
				font-size: 20px;
			}
			&.view { width: 300px; }
		}

		.custom_date {
			button {
				width: min-content;
				color: var(--text);
			}
		}

		.view select { width: 100%; }
		.year select, .month select { 
			border: none; 
			text-align: end;
			min-height: 50px;
			margin-bottom: 10px;
		}
	}



	.popup_edit_preview_select-loader {
		height: 60px;
	}
}
