

.popup-background {
	position: fixed;
	left: 0;
	top: 0;
	display: none;
	place-content: center;
	height: 100%;
	width: 100%;
	background-color: var(--popup-background-color);
	z-index: 10000;
	overflow: hidden;

	&.popup-background_show { display: grid; }


	
	.popup {
		display: flex;
		flex-direction: column;
		gap: var(--padding);
		background-color: var(--bg);
		box-shadow: 0 0 20px -5px var(--text--muted);
		padding: var(--padding);
		border-radius: var(--padding);
	
		.close-container svg { height: 40px; }

		h1 {
			margin-top: 20px;
			text-align: center;
			font-size: 45px;
		}
	
		.popup-container {
			display: flex;
			flex-direction: column;
			width: 90vw;
			max-width: 500px;
		}
	}
}



@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@media ( max-width: 425px ) {
	.popup {
		border-radius: 0px;
		h1 { font-size: 30px; }
	}
}
