

.popup__dropdown {
	position: absolute;
	background-color: var(--bg);
	border-radius: 10px;
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity ease .3s, transform ease .3s, z-index ease .3s;
	z-index: -1;
	font-size: 20px;
	
	box-shadow: 0px 5px 10px 1px var(--text--muted);
	
	&.popup__dropdown_show {
		opacity: 1;
		z-index: 1000;
		transform: translateY(0px);
	}

	.popup__dropdown_container {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: var(--padding);
	}
}
