

.game_options {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color_dark_2);
	border-radius: 10px;
	padding: 20px;

	section {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 15px;
		font-size: 20px;
		height: 75px;

		&:not(:first-of-type) { padding-top: var(--padding); }

		&:not(:last-of-type) {
			padding-bottom: var(--padding);
			border-bottom: 1px solid;
		}

		select {
			height: 40px !important;
			border: none;
			background: none;
			text-align: right;
			min-height: 0px;
			height: min-content;
			padding: 0;
		}

		.edit {
			width: fit-content;
			svg { height: 30px; }
		}

		input[type='checkbox'] {
			width: 25px;
		}

	}
}





.game_options_loader-showscores {
	border-radius: 5px;
	width: 25px;
	height: 25px;
}

.game_options_loader-inputtype {
	border-radius: 5px;
	height: 40px;
	width: 210px;
}
